{% extends "auctions/layout.html" %} {% block body %} {% load custom_tags %}

<h2 class="text-xl">Create Listing</h2>
<form action="{% url 'create' %}" method="post" class="my-6 max-w-md mx-auto">
  {% csrf_token %}
  <div class="mb-6">
    {% custom_input 'title' 'text' 'Title' 'Product title' %}
  </div>
  <div class="mb-6">
    {% custom_input 'description' 'text' 'Description' 'Product description' %}
  </div>
  <div class="mb-6">
    {% custom_input 'starting_bid' 'number' '100' 'Product starting bid' %}
  </div>
  <div class="mb-6">
    {% custom_optional_input 'image' 'file' 'Image' 'Product image' %}
  </div>
  <div class="mb-6">
    {% custom_optional_input 'category' 'text' 'Category' 'Product category' %}
  </div>
  {% custom_submit_button 'Submit' %}
</form>

{% endblock %}
