{% extends "auctions/layout.html" %} {% block body %} {% load custom_tags %}
<div class="flex items-center w-full gap-2">
  <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">
    {{ listing.title }}
  </h2>
  {% if listing.is_active %}
    {% custom_badge True 'Active'%}
  {% else %}
    {% custom_badge False 'Closed' %}
  {% endif %}

  {% if is_authenticated %}
    {% bookmark_button listing.is_saved_by_user listing.id %}
  {% endif %}

  {% if listing.category %}
  <a
  href="{% url 'category' listing.category.slug %}"
  class="ml-auto text-gray-900 dark:text-white"><h3>{{ ''|add:listing.category.icons|add:' '|add:listing.category.name }}</h3></a>
  {% endif %}
</div>
{% if message %}
  <div class="text-sm font-semibold text-right text-red-600">{{ message }}</div>
{% endif %}
<article class="mx-auto my-6">
  <div class="flex gap-4 mb-6">
    <img
      class="object-cover w-full h-96 md:h-auto md:w-56"
      src="{{ listing.image_url }}"
      alt="{{ 'Image of listing article: '|add:listing.title }}"
    />
    <header class="text-gray-900 dark:text-white">
      {% if listing.highest_bid %}
      <h3>Highest bid</h3>
      <span class="text-2xl font-bold tracking-tight">
        {{ listing.highest_bid.price|currency }}
      </span>
      <div class="flex items-center justify-end gap-2 mt-4">
        <span class="text-gray-900 dark:text-white"
          >Bid by {{ listing.highest_bid.user.username }}</span
        >
        <img
          class="object-cover w-10 h-10 rounded-full"
          src="{{ listing.highest_bid.user.profile_pic }}"
          alt="Highest bidder's profile picture"
        />
      </div>
      {% else %}
      <h3>Initial price</h3>
      <span class="text-2xl font-bold tracking-tight">
        {{ listing.starting_bid|currency }}
      </span>
      {% endif %}
    </header>
    {% if is_authenticated and listing.author != request.user and listing.is_active %}
      <form
        action="{% url 'detail' listing.id %}"
        method="POST"
        class="max-w-md mx-auto my-6"
      >
        {% csrf_token %}
        <input type="hidden" name="_method" value="PATCH" />
        <div class="mb-6">
          {% if message %}
            {% custom_error_input 'bid' 'number' '3500' 'Place your Bid' %}
          {% else %}
            {% custom_input 'bid' 'number' '3500' 'Place your Bid' %}
          {% endif %}
        </div>
        {% custom_submit_button 'Submit' %}
      </form>
    {% elif is_authenticated and listing.author == request.user %}
      <div
        class="text-sm font-semibold text-center text-gray-900 dark:text-white"
      >
        <span class="block mb-4">You published this listing</span>
        {% if listing.is_active %}
        <button
          id="close-listing-button"
          data-modal-target="popup-modal"
          data-modal-toggle="popup-modal"
          class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="button"
        >
          Close
        </button>
        <div
          id="popup-layer"
          tabindex="-1"
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative w-full max-w-md max-h-full p-4 mx-auto mt-16">
            <div
              id="popup-modal"
              class="relative bg-white rounded-lg shadow dark:bg-gray-700"
            >
              <button
                id="popup-close-button"
                type="button"
                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="popup-modal"
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
              <div class="p-4 text-center md:p-5">
                <svg
                  class="w-12 h-12 mx-auto mb-4 text-gray-400 dark:text-gray-200"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
                <h3
                id="popup-ok-button"
                class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
                >
                  {% if listing.highest_bid %}
                    Are you sure you want to close this listing? The article will be
                    sold to {{listing.highest_bid.user.username}} for {{ listing.highest_bid.price|currency }}
                  {% else %}
                    Are you sure you want to close this listing? There are no bids for this article
                  {% endif %}
                </h3>
                <form
              id="closeListingForm"
              method="POST"
              action="{% url 'detail' listing.id %}"
            >
              {% csrf_token %}
              <input type="hidden" name="_method" value="PATCH" />
              <input type="hidden" name="toggle_key" value="is_active" />
                <button
                  data-modal-hide="popup-modal"
                  type="submit"
                  class="text-white mb-2 bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                >
                  Yes, I'm sure
                </button>
            </form>

                <button
                  id="popup-cancel-button"
                  data-modal-hide="popup-modal"
                  type="button"
                  class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  No, cancel
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    {% else %}
      <div
        class="text-sm font-semibold text-center text-gray-900 dark:text-white"
      >
        {% if not listing.is_active and listing.winner == request.user %}
          You won this listing!
        {% elif not listing.is_active %}
          This listing is closed
        {% else %}
          You need to be logged in to place a bid
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="flex items-start justify-between">
    <p
      class="max-w-lg mb-3 text-lg font-normal text-gray-700 dark:text-gray-400"
    >
      {{ listing.description }}
    </p>
    <footer class="flex items-center justify-end gap-2">
      <span class="text-gray-900 dark:text-white"
        >Posted by {{ listing.author }}</span
      >
      <img
        class="object-cover w-10 h-10 rounded-full"
        src="{{ listing.author.profile_pic }}"
        alt="Listing's author profile picture"
      />
    </footer>
  </div>
</article>
{% if comments %}
  <section>
    <ul class="flex flex-col items-center gap-6 mx-auto my-6">
      {% for comment in comments %}
      <li class="w-full">
        {% custom_comment comment.text comment.user comment.created_at %}
      {% endfor %}
      </li>
    </ul>
  </section>
{% endif %}
{% if is_authenticated %}
  {% comment_form listing.id %}
{% endif %}
<script defer>
  const $closeListingButton = document.getElementById('close-listing-button')
  const $popupModal = document.getElementById('popup-modal')
  const $popupLayer = document.getElementById('popup-layer')
  const $popupCloseButton = document.getElementById('popup-close-button')
  const $popupOkButton = document.getElementById('popup-ok-button')
  const $popupCancelButton = document.getElementById('popup-cancel-button')

  $closeListingButton.addEventListener('click', () => {
    $popupLayer.classList.remove('hidden')
  })

  // TO DO: optimize these event listeners below so they are only listening when the popup layer is visible
  $popupOkButton.addEventListener('click', () => {
    document.getElementById('closeListingForm').submit()
  })

  $popupCloseButton.addEventListener('click', () => {
    $popupLayer.classList.add('hidden')
  })

  $popupCancelButton.addEventListener('click', () => {
    $popupLayer.classList.add('hidden')
  })

  window.addEventListener('click', (event) => {
    if (
      !$popupModal.contains(event.target) &&
      !$closeListingButton.contains(event.target)
    ) {
      $popupLayer.classList.add('hidden')
    }
  })
</script>
{% endblock %}
