{% extends "auctions/layout.html" %} {% block body %} {% load custom_tags %}
<div class="flex items-center gap-2 w-fit">
  <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">
    {{ listing.title }}
  </h2>
  <!-- HTML forms don't support PATCH methods natively. Just GET or POST -->
  <form
    id="patchDetailForm"
    method="POST"
    action="{% url 'detail' listing.id %}"
  >
    {% csrf_token %}
    <!-- HTTP method can be specified using a hidden input -->
    <input type="hidden" name="_method" value="PATCH" />
    <button
      type="submit"
      class="p-1.5 ml-auto text-sm text-gray-500 rounded-lg dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700"
    >
      {% if listing.is_saved_by_user %}
        {% svg_icon 'bookmark-solid' %}
      {% else %} 
        {% svg_icon 'bookmark' %}
      {% endif %}
    </button>
  </form>
</div>
<article class="mx-auto my-6">
  <div class="flex gap-4 mb-6">
    <img
      class="object-cover w-full h-96 md:h-auto md:w-56"
      src="{{ listing.image_url }}"
      alt="{{ 'Image of listing article: '|add:listing.title }}"
    />
    <header class="text-gray-900 dark:text-white">
      <h3>Highest bid</h3>
      <span class="text-2xl font-bold tracking-tight">
        <!-- here it should display starting_bid only if there are no bids -->
        {{ listing.starting_bid|currency }}
      </span>
    </header>
  </div>
  <div class="flex items-start justify-between">
    <p
      class="max-w-lg mb-3 text-lg font-normal text-gray-700 dark:text-gray-400"
    >
      {{ listing.description }}
    </p>
    <footer class="flex items-center justify-end gap-2">
      <span class="text-gray-900 dark:text-white"
        >Posted by {{ listing.author }}</span
      >
      <img
        class="object-cover w-10 h-10 rounded-full"
        src="{{ listing.author.profile_pic }}"
        alt="Listing's author profile picture"
      />
    </footer>
  </div>
</article>
{% endblock %}
