{% extends "auctions/layout.html" %} {% block body %} {% load custom_tags %}
<h2 class="text-2xl font-semibold text-gray-900 dark:text-white">
  Active Listings
</h2>
<ul class="flex flex-col items-center gap-6 mx-auto my-6">
  {% for listing in listings %}
  <li>
    <article>
      <a
        href="{{ listing.id }}"
        class="flex flex-col items-center overflow-hidden bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
      >
        <img
          class="object-cover w-full h-96 md:h-auto md:w-48"
          src="{{ listing.image_url }}"
          alt="{{ 'Image of listing article: '|add:listing.title }}"
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h3
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ listing.title }}
          </h3>
          <h3
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ listing.starting_bid|currency }}
          </h3>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{ listing.description }}
          </p>
          <footer class="flex items-center justify-end gap-2">
            <span class="text-gray-900 dark:text-white"
              >Posted by {{ listing.author }}</span
            >
            <img
              class="object-cover w-10 h-10 rounded-full"
              src="{{ listing.author.profile_pic }}"
              alt="Listing's author profile picture"
            />
          </footer>
        </div>
      </a>
    </article>
  </li>
  {% endfor %}
</ul>

{% endblock %}
