{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="text-gray-900 dark:text-white text-2xl font-semibold">Login</h2>
      {% if message %}
        <div class="text-sm font-semibold text-red-600 text-center">{{ message }}</div>
    
    {% endif %}
<form action="{% url 'login' %}" method="post" class="my-6">
    {% csrf_token %}
  <div class="mb-6">
    {% if message %}
 <label for="username" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Your username</label>
  <input name="username" type="text" id="username-error" class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400" placeholder="Username" required>
    {% else %}
    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
    <input name="username" type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" required>
    {% endif %}
  </div>
  <div class="mb-6">
    {% if message %}
 <label for="password" class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Your password</label>
  <input name="password" type="text" id="password-error" class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400" placeholder="Password" required>
    {% else %}
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
    <input name="password" type="text" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
    {% endif %}
      </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

</form>

<p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-center">Don't have an account? <a class="text-blue-600 hover:underline" href="{% url 'register' %}">Register here</a></p>
    
{% endblock %}