{% extends "auctions/layout.html" %} {% block body %}
{% load custom_tags %}
<h2 class="text-gray-900 dark:text-white text-2xl font-semibold">Login</h2>
{% if message %}
<div class="text-sm font-semibold text-red-600 text-center">{{ message }}</div>

{% endif %}
<form action="{% url 'login' %}" method="post" class="my-6">
  {% csrf_token %}
  <div class="mb-6">
    {% if message %}
    {% custom_error_input 'username' 'text' 'Username' 'Your Username' %}
    {% else %}
    {% custom_input 'username' 'text' 'Username' 'Your Username' %}
    {% endif %}
  </div>
  <div class="mb-6">
    {% if message %}
    {% custom_error_input 'password' 'password' 'Password' 'Your Password' %}
    {% else %}
    {% custom_input 'password' 'password' 'Password' 'Your Password' %}
    {% endif %}
  </div>
    {% custom_submit_button 'Submit' %}
</form>

<p
  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-center"
>
  Don't have an account?
  <a class="text-blue-600 hover:underline" href="{% url 'register' %}"
    >Register here</a
  >
</p>

{% endblock %}
