<div>
  <img
    id="avatar-button"
    type="button"
    data-dropdown-toggle="user-dropdown"
    data-dropdown-placement="bottom-start"
    class="object-cover w-10 h-10 rounded-full cursor-pointer"
    src="{{ request.user.profile_pic|default:'https://i.stack.imgur.com/l60Hf.png' }}"
    alt="User Profile Picture"
    aria-expanded="false"
  />
  <!-- Dropdown menu -->
  <div
    id="user-dropdown"
    class="absolute z-10 hidden mt-3 bg-white divide-y divide-gray-100 rounded-lg shadow right-4 w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <div>{{ request.user.username }}</div>
    </div>
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="avatar-button"
    >
      <li>
        <a
          href="/watchlist"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Watchlist</a
        >
      </li>
      <li>
        <a
          href="/won-auctions"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Won Auctions</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Earnings</a
        >
      </li>
    </ul>
    <div class="py-1">
      <a
        href="{% url 'logout' %}"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
        >Log out</a
      >
    </div>
  </div>
</div>
